/.env
/.vscode
/chat.jpeg
/img2.jpg
/img3.png
/img4.png
/img5.png
/node_modules
/package-lock.json
/package.json
/script.js
/server.js
/Weather-app.jpg
/WhatsApp Image 2025-03-16 at 16.40.55_a4a4e3e5.jpg